<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    body {
      background-image: url('https://images.unsplash.com/photo-1512428197675-daae5d4e1e43?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80');
    }
</style>
</head>
<body>
<h2>Registration</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type ="text" name = "username" placeholder="Enter your username"><br>
    <input type ="text" name = "first_name" placeholder="Enter your first name"><br>
    <input type ="text" name = "last_name" placeholder="Enter your last name"><br>
    <input type ="email" name = "email" placeholder="Enter your email id"><br>
    <input type ="password" name = "password" placeholder="Enter your password"><br>
    <input type ="password" name = "password1" placeholder="Confirm your password"><br>
    <input type ="submit"><br>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>